.b_select-container
    padding: 20px
    box-sizing: border-box
    
    &__input
        position: relative
        width: 100%

        input[type="text"]
            width: 100%
            position: absolute
            left: 0;
            border-radius: 5px
            border: 1px solid #ccc
            background: transparent
            padding: 7px 15px
            line-height: 20px
            z-index: 100
            outline: none
            box-sizing: border-box
        select
            width: 100%
            padding: 10px 10px
            background: transparent
            border: 1px solid #ccc
            color: #333
            -webkit-appearance: none
            border-radius: 5px

        &_list_visible
            input[type="text"]
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
        
        .b_select-container__input-placeholder
            position: absolute
            left: 10px
            padding: 0 10px
            top: 4px
            transform: translateY(50%)
            font-size: .9em
            z-index: 99
            transition: top .1s ease-out
            background: #fff
            color: #333

            &.active
                top: -16px
                z-index: 101
                    
    &__list 
        position: relative
        top: 35px
        border: 1px solid #ccc
        width: 100%
        box-sizing: border-box
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px

        &_position
            &_top
                top: 1px
                transform: translateY(-100%)
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
                border-top-left-radius: 5px
                border-top-right-radius: 5px

        & .b_select-list
            padding: 20px

            &__item
                padding: 20px
                &:hover
                    background-color: #f1f1f1
                    cursor: pointer

    &__list-toggler
        color: #000
        position: absolute
        right: 10px
        top: 14px

        &_state
            display: inline-block

            &_hidden
                display: block
                width: 0
                height: 0
                border-style: solid
                border-width: 0 5px 10px 5px
                border-color: transparent transparent #ccc transparent

            &_visible
                display: block
                width: 0
                height: 0
                border-style: solid
                border-width: 10px 5px 0 5px
                border-color: #ccc transparent transparent transparent

.filter-match
    color: #EB9100
    text-decoration: underline
